<!DOCTYPE html>
<html>
    <head>
        <title>ToDo</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container">
            <% flash.each do |message_type, message| %>
                <div class="alert <%= message_type %>"> <%= message %></div>
            <% end %>
            <%= yield %>
            <%= debug(params) if Rails.env.development? %>
        </div>
    </body>
</html>
